// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  padding: 5px 5px;
  text-size: 14px;
}

.list {
  text-align: left;
}

.actions {
  background-color: orange;
  text-size: 18px;
}
